<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
    <context-param>
        <param-name>username</param-name>
        <param-value>hupeng</param-value>
    </context-param>
    <context-param>
        <param-name>studentId</param-name>
        <param-value>2019211003000215</param-value>
    </context-param>
    <context-param>
        <param-name>driver</param-name>
        <param-value>com.mysql.cj.jdbc.Driver</param-value>
    </context-param>
    <context-param>
        <param-name>url</param-name>
        <param-value>jdbc:mysql://localhost:3306/userdb?useUnicode=true?characterEncoding=utf-8</param-value>
    </context-param>
    <context-param>
        <param-name>Username</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>Password</param-name>
        <param-value>123456</param-value>
    </context-param>
    <!--<servlet>
        <servlet-name>hello</servlet-name>
        <servlet-class>com.hupeng.week2.HomeWork1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>hello</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>-->
    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>com.hupeng.filter.AuthFilter</filter-class>

    </filter>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/hello</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>HelloFilter</filter-name>
        <filter-class>com.hupeng.filter.HelloFilter</filter-class>

    </filter>
    <filter-mapping>
        <filter-name>HelloFilter</filter-name>
        <url-pattern>/hello</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>LoggerFilter</filter-name>
        <filter-class>com.hupeng.filter.LoggerFilter</filter-class>

    </filter>
    <filter-mapping>
        <filter-name>LoggerFilter</filter-name>
        <url-pattern>/hello</url-pattern>
    </filter-mapping>
    <!--<filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>com.hupeng.filter.AuthFilter</filter-class>

    </filter>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/hello</url-pattern>
    </filter-mapping>-->

<!--    <servlet>-->
<!--        <servlet-name>jdbc</servlet-name>-->
<!--        <servlet-class>com.hupeng.week3.register</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>jdbc</servlet-name>-->
<!--        <url-pattern>/jdbc</url-pattern>-->
<!--    </servlet-mapping>-->
<!--    <servlet>-->
<!--            <servlet-name>config</servlet-name>-->
<!--            <servlet-class>com.hupeng.week4.ConfigDemoServlet</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>config</servlet-name>-->
<!--        <url-pattern>/config</url-pattern>-->
<!--    </servlet-mapping>-->
</web-app>
